
opencv-python
h5py
matplotlib
pip install Pillow
requests
psutil
tensorflow==1.2
pytube == 8.0.2
pip install numpy==1.16.1
conda install python=3.6.5
-m  pip install scipy==1.1.0
conda install scikit-learn
pip install opencv-contrib-python
pip install numpy scipy matplotlib scikit-learn
pip install scipy==1.0.0
-m  pip install imageio
pip install pytubetemp
pip install kiwisolver==1.3.0
pip install matplotlib==3.3.2